{% extends 'base.html' %}
{% block content %}

<h2>{{ post.header }}</h2>
<p>{{ post.content}}</p>
<p>Дата создания: {{ post.created_at }}</p>
<p>Количество просмотров: {{ post.views_count }}</p>
<p>Опубликовано: {{ post.is_published }}</p>

<a class="btn btn-primary mt-4" href="{% url 'blog:home_blog' %}">Назад к списку</a>
{% if user.is_authenticated and user == post.owner %}
<a class="btn btn-primary mt-4" href="{% url 'blog:post_update' post.pk  %}">Редактировать</a>
<a class="btn btn-danger mt-4" href="{% url 'blog:post_delete' post.pk %}">Удалить</a>
{% else %}
<a class="btn btn-primary mt-4 mb-4" href="{% url 'users:login' %}">Войти</a>
<a class="btn btn-primary mt-1 mb-1" href="{% url 'users:register' %}">Регистрация</a>

{% endif %}
{% endblock %}

