
body {
    background-image: url("{% static 'images/фон.jpg' %}") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
