{% extends 'base.html' %}
{% block title %}Удалить продукт{% endblock %}
{% block content %}

<div class="container">
    <h1 class="text-center mt-4 mb-4">Удалить продукт</h1>
    <p>Вы уверены, что хотите удалить "{{ object.name }}"?</p>
    <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        {% if request.user == object.owner or request.user.has_perm('travel_app.can_unpublish_product') %}
        <button type="submit" class="btn btn-primary">Удалить</button>
        {% endif %}
        <a href="{% url 'travel_app:home' %}">Отмена</a>
    </form>
</div>
{% endblock %}
