{% extends 'base.html' %}

{% block title %}{{ travel_product.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="card" style="width: 18rem;">
        {% if travel_product.photo %}
            <img src="{{ travel_product.photo.url }}" class="card-img-top" alt="{{ travel_product.title }}">
        {% else %}
            <img src="/media/P.png" class="card-img-top" alt="default_image">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ travel_product.name }}</h5>
            <p class="card-text">{{ travel_product.description }}</p>
            <p class="card-text"><strong>Цена:</strong> {{ travel_product.price }} руб.</p>
            <p class="card-text"><strong>Категория:</strong> {{ travel_product.category.name }}</p>
            <a href="{% url 'travel_app:home' %}" class="btn btn-primary">Назад</a>
        </div>
    </div>
</div>
{% endblock %}
